.animation {
    animation-name: bounce;
    animation-duration: 2s;
    animation-timing-function: cubic-bezier(0.2, 0.65, 0.6, 1);
    animation-iteration-count: 1;
    animation-direction: normal;
}

.one {
    --bounce-offset: -50px;
    height: 200px;
    width: 200px;
    padding: 0.5rem;
}
.two {
    --bounce-offset: -50px;
    height: 200px;
    width: 200px;
    padding: 0.5rem;
    position: relative;
}
.three {
    --bounce-offset: -50px;
    height: 200px;
    width: 200px;
    padding: 0.5rem;
    position: relative;
}
.four {
    --bounce-offset: -50px;
    height: 200px;
    width: 200px;
    padding: 0.5rem;
    position: relative;
}
@keyframes bounce {
    0% {
        transform: translateX(0px);
    }
    20% {
        transform: translateX(var(--bounce-offset));
    }
    50% {
        transform: translateX(calc((var(--bounce-offset)+10px)));
    }
    80% {
        transform: translateX(0px);
    }
    100% {
        transform: translateX(0px);
    }
}
